/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-12-17, 18:40:27
    Author     : worek
*/

#aut{
    background-color: chocolate;
    display: block;
    
}