<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bankok</title>
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/> <!-- load fontawesome -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!--        <script>
                    $('div#history').scrollspy({target: '#target_nav'});
                </script>-->
        <link rel="stylesheet" href="../css/details.css"/>
        <script>
            function showDiv() {
                document.getElementById('welcomeDiv').style.display = "block";
                document.getElementById('bbtt').style.display = "none";
            }
            function hideDiv() {
                document.getElementById('welcomeDiv').style.display = "none";
                document.getElementById('bbtt').style.display = "block";
            }
            function showWrite() {
                document.getElementById('writeDiv').style.display = "block";
            }
            function hideWrite() {
                document.getElementById('writeDiv').style.display = "none";
            }

        </script>
    </head>
    <body>
        <header th:replace="header :: header">
            HEADER-NAV
        </header>

        <div class="container">

            <!--<div class="col-sm-6 col-sm-offset-3">-->

            <ul class="list-group">
                <li class="list-group-item"><label>ID dokumentu</label> <span th:text="${document.documentId}"/> </li>
                <li class="list-group-item"><label>Źródło</label> <span th:text="${document.source}"/> </li>
                <li class="list-group-item"><label>Cel</label> <span th:text="${document.destination}"/> </li>
                <li class="list-group-item"><label>Typ dokumentu</label> <span th:text="${document.documentType}"/> </li>
                <li class="list-group-item"><label>Data generowania</label> <span th:text="${document.generateDate}"/> </li>
                <li class="list-group-item"><label>Treść</label> <span th:text="${document.data}"/> </li>               
                <li class="list-group-item"><label>Uwagi</label> <span th:text="${document.comment}"/> </li>               
            </ul>
             <form th:action="@{/edit}" method="post" th:object="${editDocumentForm}" th:if="${document.documentStatus == T(com.banany.kokosy.document.entity.DocumentStatus).ACTIVE}">
                    <!--<input type="text" class="form-control" name="username"> ${document.documentId} </input>-->

                    <input class="form-control"
                           style="display: none;"
                           type="text"
                           th:value="${document.documentId}" id="documentId" name="documentId" />

                            <input type="text" class="form-control" name="Comment" placeholder="Twoje uwagi"/>
                    <button type="submit" class="btn btn-warning btn-lg">Dodaj zmiany</button>
                </form>

            
            <div id="history" dt:scrollY="200px" th:if="${not #lists.isEmpty(document.documentHistory)}">

                <table title="historia przeplywow" border ="1">
                    <thead>
                        <tr>
                            <td>Osoba zmieniająca</td>
                            <td>Data zmiany</td>
                            <td>Wysłane z działu</td>
                            <td>Wysłane do działy</td>
                        </tr>

                    </thead>
                    <tbody th:each="his : ${document.documentHistory}">
                        <tr>
                            <td><span th:text="${his.personWhoChanged.username}"/></td>
                            <td><span th:text="${his.changedDate}"/></td>
                            <td><span th:text="${his.oldDestination}"/></td>
                            <td><span th:text="${his.newDestination}"/></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div id="history2" dt:scrollY="200px" th:if="${not #lists.isEmpty(document.documentEditHistory)}">

                <table title="historia zmian" border ="1">
                    <thead>
                        <tr>
                            <td>Osoba zmieniająca</td>
                            <td>Data zmiany</td>
                            <td>Uwaga</td>
                        </tr>

                    </thead>
                    <tbody th:each="his : ${document.documentEditHistory}">
                        <tr>
                            <td><span th:text="${his.personWhoEdit.username}"/></td>
                            <td><span th:text="${his.changedDate}"/></td>
                            <td><span th:text="${his.comment}"/></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-sm-6" id="bbtt" th:if="${document.documentStatus == T(com.banany.kokosy.document.entity.DocumentStatus).ACTIVE}" >
                <div class="well">
                    <p>
                        <a th:href="@{/archiwizuj(id=${document.documentId})}" >
                            <button type="button" class="btn btn-info">Archiwizuj</button>
                        </a>
                    </p>
                    <p>

                        <button type="button" class="btn btn-info" onclick="showDiv()">Prześlij</button>
                    </p>

                    <p>

                        <button type="button" class="btn btn-info" onclick="showWrite()">Zapisz do pliku</button>
                    </p>
                    
                    <p>
                         <a th:href="@{/zwroc(id=${document.documentId})}" >
                        <button type="button" class="btn btn-info">Odeślij</button>
                        </a>
                    </p>

                </div>
            </div>
            
            <div id="writeDiv"  style="display:none;">
                <form th:action="@{/write}" method="post" th:object="${saveInFileForm}" >
                    <input class="form-control"
                           type="text"
                           th:value="${name}" id="name" name="name" />

                    <!--<input type="text" class="form-control" name="username"> ${document.documentId} </input>-->

                    <input class="form-control"
                           style="display: none;"
                           type="text"
                           th:value="${document.documentId}" id="documentId" name="documentId" />

                    <ul>
                        <li>
                            <input type="radio" id="typeEX" name="typeEX" th:value="pdf" />
                            <label >PDF</label>
                        </li>
                        <li>
                            <input type="radio" id="typeEX" name="typeEX" th:value="json" />
                            <label >JSON</label>
                        </li>
                    </ul>

                    <button type="submit" class="btn btn-warning btn-lg">Zapisz</button>
                    <button type="anuluj" class="btn btn-warning btn-lg" onclick="hideWrite()">Anuluj</button>
                </form>
            </div>

            <div id="welcomeDiv"  style="display:none;">
                <form th:action="@{/send}" method="post" th:object="${sendDocumentForm}" >


<!--                    <select name="newDestination" >
                                                <option th:each="destination : ${T(com.banany.kokosy.document.entity.AllDepartments).values()}" th:value="${destination}" th:text="#{__${destination}__}" ></option>
                        <option th:each="destination : ${T(sendDocumentForm.possibleDestinations).values()}" th:value="${destination}"></option>
                    </select>-->

                    <select  name="newDestination"  >
                        <option th:each="destination :${sendDocumentForm.possibleDestinations}"
                                th:value="${destination}"
                                th:text="${destination}">
                        </option>
                    </select>

                    <input class="form-control"
                           style="display: none;"
                           type="text"
                           th:value="${document.documentId}" id="documentId" name="documentId" />

                    <button type="submit" class="btn btn-warning btn-lg">OK</button>
                    <button type="reset" class="btn btn-warning btn-lg" onclick="hideDiv()">Anuluj</button>
                </form>
            </div>
            <!--th:selected="${color == T(com.banany.kokosy.document.entity.AllDepartments}"-->
        </div>

        <!--</div>-->
        <footer th:replace="footer :: footer">
            FOOTER
        </footer>


    </body>
</html>