<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bankok</title>
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/> <!-- load fontawesome -->
        <link rel="stylesheet" href="../css/header.css"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header th:fragment="header">
        
            


                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Bankok</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li sec:authorize="hasRole('KADRY')"><a href="#">Kadry</a></li>
                            <li sec:authorize="hasRole('FINANSE')"><a href="#">Finanse</a></li>
                            <li sec:authorize="hasRole('MAGAZYN')"><a href="#">Magazyn</a></li>
                            <li sec:authorize="hasRole('SANITARNY')"><a href="#">Sanitarny</a></li>
                            <li sec:authorize="hasRole('LOGISTYKA')" ><a href="#">Logistyka</a></li>
                            <li sec:authorize="hasRole('IMPORT')"><a href="#">Import</a></li>
                            <li sec:authorize="hasRole('SPRZEDAZ')"><a href="#">Sprzedaż</a></li>
                            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/readFiles}">Czytaj Pliki</a></li>
                            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/newFlow}">Dodaj przepływ</a></li>
                            <li sec:authorize="!hasRole('ADMIN')"><a th:href="@{/newDocument}">Nowy Dokument</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/home}">Home</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/myArchive}">Archiwum</a></li>
                            <li sec:authorize="isAuthenticated()">
                                <p class="navbar-text aut" sec:authentication="name">
                                </p>
                            </li>
                            <li class ="aut" sec:authorize="isAuthenticated()">
                                <a href="/logout" th:href="@{/logout}">
                                    <i class="glyphicon glyphicon-log-out aut"></i>
                                </a>
                            </li>
                            <li class ="aut" sec:authorize="isAnonymous()">
                                <a href="/login" th:href="@{/login}">
                                    <i class="glyphicon glyphicon-log-in aut"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </nav>

        </header>


    </body>
</html>