<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bankok</title>
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/> <!-- load fontawesome -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header th:replace="header :: header">
            HEADER-NAV
        </header>

        <div class="container">

            <!--<div class="col-sm-6 col-sm-offset-3">-->

            <h1>Dokumenty</h1>
            <div th:if="${not #lists.isEmpty(documents)}" >
                <table border ="1">
                    <thead>

                        <tr>

                            <td>
                                Typ dokumentu
                            </td>
                            <td>
                                Źródło
                            </td>
                            <td>
                                Cel
                            </td>
                            <td>
                                Data
                            </td>
                            <td></td>

                        </tr>

                    </thead>
                    <tbody th:each="doc : ${documents}">
                       
                        <tr>

                            <td>
                                <span th:text="${doc.documentType}"/><!--This will print the Index-->
                            </td>
                            <td>
                                <span th:text="${doc.source}"/><!--This will print the Index-->
                            </td>
                            <td>
                                <span th:text="${doc.destination}"/><!--This will print the Index-->
                            </td>
                            <td>
                                <span th:text="${doc.generateDate}"/><!--This will print the Index-->
                            </td>
                            <td>
                            <a
                               th:href="@{/details(id=${doc.documentId})}" 
                               >view</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div> 
        </div>

        <!--</div>-->
        <footer th:replace="footer :: footer">
            FOOTER
        </footer>


    </body>
</html>