<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bankok</title>
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/> <!-- load fontawesome -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header th:replace="header :: header">
            HEADER-NAV
        </header>
        <div class="container">

            <div class="col-sm-6 col-sm-offset-3">
                <img src="http://i1.memy.pl/obrazki/45d5999761_geniusz_.jpg" class="img-circle"/>
                <p sec:authorize="isAnonymous()">
                    <a href="/login" th:href="@{/login}">
                        Login
                        <i class="glyphicon glyphicon-log-in aut"></i>
                    </a>
                </p>
            </div>

        </div>


    </body>
</html>