<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bankok</title>
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/> <!-- load fontawesome -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!--        <script>
                    $('div#history').scrollspy({target: '#target_nav'});
                </script>-->
        <link rel="stylesheet" href="../css/details.css"/>

    </head>
    <body>
        <header th:replace="header :: header">
            HEADER-NAV
        </header>

        <div class="container">

            <div id="welcomeDiv">
                <form id="newdoc-form" role="form" th:action="@{/newDocument}" method="post" th:object="${newDoc}">
                    <label>Id dokumentu</label>
                    <input type="text" class="form-control" name="documentId"  th:value="${newDoc.documentId}"/>
                    <label>Źródło</label>
                    <input type="text" class="form-control" name="source"  th:value="${newDoc.source}" /> 

                    <label>Typ dokumentu</label>
                    <select id ="xx" name="documentType" multiple="multiple">
                        <option th:each="type : ${types}" th:value="${type}" th:text="#{__${type}__}" ></option>
                    </select>

                    <label>Cel</label>
                 <select id ="xx2" name="destination" >
                        <option th:each="type :${des}"
                                th:value="${type}"
                                th:text="${type}">
                        </option>
                    </select>
                    <input type="text" class="form-control" name="data" required="wpisz"> </input>

                    <button type="submit" class="btn btn-warning btn-lg">OK</button>

                </form>
            </div>
            <!--th:selected="${color == T(com.banany.kokosy.document.entity.AllDepartments}"-->
        </div>
        <table style="display: none;">
            <tr th:each="entry: ${map}">
                <td th:each="entry2: ${entry.value}">
                    <span th:class="${entry.key}" th:text='${entry2}'></span>
                    <span th:class="${entry.key}">:</span>
                </td>
            </tr>
        </table>

        <footer th:replace="footer :: footer">
            FOOTER
        </footer>
        <script>
                     $("#xx").change(function(){
                      var tmp = $(this).val();
                      var allText = $("."+tmp).text();
                      var afterSplit = allText.split(":");

                      //$('#xx2').remove();
                      $("#xx2").empty();
                      for(var s in afterSplit){

                            $("#xx2").append(
                                    $('<option></option>').val(afterSplit[s]).html(afterSplit[s])
                                    );
                      }
             });
        </script>

    </body>
</html>