<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bankok</title>
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/> <!-- load fontawesome -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!--        <script>
                    $('div#history').scrollspy({target: '#target_nav'});
                </script>-->
        <link rel="stylesheet" href="../css/details.css"/>

    </head>
    <body>
        <header th:replace="header :: header">
            HEADER-NAV
        </header>

        <div class="container">

            <div id="welcomeDiv">
                <form id="newdoc-form" role="form" th:action="@{/newFlow}" method="post" th:object="${newFlow}">
                    <label>Typ Dokumenty</label>
                    <select name="docType">
                        <option th:each="destination : ${T(com.banany.kokosy.document.entity.DocumentType).values()}" th:value="${destination}" th:text="#{__${destination}__}" ></option>
                    </select>
                    <label>Źródło</label>
                    <select name="fromDep">
                        <option th:each="destination : ${T(com.banany.kokosy.document.entity.AllDepartments).values()}" th:value="${destination}" th:text="#{__${destination}__}" ></option>
                    </select>
                    <label>Cel</label>
                    <select name="toDep">
                        <option th:each="destination : ${T(com.banany.kokosy.document.entity.AllDepartments).values()}" th:value="${destination}" th:text="#{__${destination}__}" ></option>
                    </select>

                    <button type="submit" class="btn btn-warning btn-lg">OK</button>

                </form>
            </div>
            <!--th:selected="${color == T(com.banany.kokosy.document.entity.AllDepartments}"-->
        </div>

        <footer th:replace="footer :: footer">
            FOOTER
        </footer>
    </body>
</html>